    {% extends "layout.html" %}
   
    {% block content %}
    <div class = "global-parent-div">
    
    <h1><center>{{title}}</center></h1><br><br>


   
            
            <form name="account_search" action ="" method="post">
                {{ form.csrf_token }}

                {{form.hidden_tag()}}
                <p>{{form.account_id.label}}<br> {{form.account_id(size=35)}} </p><p>OR</p>
                <p>{{form.customer_id.label}}<br> {{form.customer_id(size=60)}} </p>
                

                <p>{{form.View()}} </p>
                
      
            </form>
            
        </div>
 {% endblock %}