<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Status</title>
</head>
<body>
{% include "includes/nav.html" %}
<h2 align="center">Customer Status</h2>
<table border="1" align="center" cellpadding=10 style="border-collapse: collapse; text-align: center;">
    <tbody>
        <tr style="font-weight: bold;">
            <td>Customer ID</td>
            <td>Customer SSN ID</td>
            <td>Status</td>
            <td>Message</td>
            <td>Last Updated</td>
            <td>Operations</td>
            <td>View Profile</td>
        </tr>
        <tr>
            <td>100000625</td>
            <td>800000012</td>
            <td>Active</td>
            <td>Lorem ipsum dolor sit amet</td>
            <td>2020-03-01 13:44:25</td>
            <td><a href="#">Refresh</a></td>
            <td><a href="#">View Details</a></td>
        </tr>
        <tr>
            <td>100000632</td>
            <td>800000019</td>
            <td>Active</td>
            <td>Lorem ipsum dolor sit amet</td>
            <td>2020-03-01 13:44:25</td>
            <td><a href="#">Refresh</a></td>
            <td><a href="#">View Details</a></td>
        </tr>
        <tr>
            <td>100000266</td>
            <td>800000002</td>
            <td>Active</td>
            <td>Lorem ipsum dolor sit amet</td>
            <td>2020-03-01 13:44:25</td>
            <td><a href="#">Refresh</a></td>
            <td><a href="#">View Details</a></td>
        </tr>
        <tr>
            <td>0</td>
            <td>801010111</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td><a href="#">Refresh</a></td>
            <td><a href="#">View Details</a></td>
        </tr>
        <tr>
            <td>100000265</td>
            <td>800000001</td>
            <td>Active</td>
            <td>Lorem ipsum dolor sit amet</td>
            <td>2020-03-01 13:44:25</td>
            <td><a href="#">Refresh</a></td>
            <td><a href="#">View Details</a></td>
        </tr>
        <tr>
            <td>100000267</td>
            <td>800000003</td>
            <td>Active</td>
            <td>Lorem ipsum dolor sit amet</td>
            <td>2020-03-01 13:44:25</td>
            <td><a href="#">Refresh</a></td>
            <td><a href="#">View Details</a></td>
        </tr>
        <tr>
            <td>100000268</td>
            <td>800000004</td>
            <td>Active</td>
            <td>Lorem ipsum dolor sit amet</td>
            <td>2020-03-01 13:44:25</td>
            <td><a href="#">Refresh</a></td>
            <td><a href="#">View Details</a></td>
        </tr>
        <tr>
            <td>100000626</td>
            <td>800000013</td>
            <td>Active</td>
            <td>Lorem ipsum dolor sit amet</td>
            <td>2020-03-01 13:44:25</td>
            <td><a href="#">Refresh</a></td>
            <td><a href="#">View Details</a></td>
        </tr>
    </tbody>
</table>
</body>
</html>