<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="static/css/delete_customer.css">
 </head>
 <body>
 {% include "includes/nav.html" %}
 <h2>Customer Delete</h2>

 <form action="#" method="post">


   <div class="container">
    <label for="customerid"><b>Customer Id :</b></label>
    <input type="text" placeholder="100000000" name="customerid" required><br> <br>
    <label for="customername"><b>Customer Name :</b></label>
    <input type="text" placeholder="Enter name" name="customername" required><br> <br>
   <button type="submit" class="btn btn-primary waves-effect waves-light">Delete</button>
   
    </div>
 </form>

 </body>
 </html>
