<html>
<head>
    <title>ABC - Homepage</title>
    
    <link rel="stylesheet" href="{{url_for('static',filename= "css/main.css")}}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

{% include "includes/nav.html" %}
   
    <div style=" position: relative;
    background-color: orange;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0px;
    margin-left: 0px;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: -webkit-fill-available;
    height: 100vh">

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{category}}">
                    <p>{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block content %}


    {% endblock %}
    </div>
    
    {% include "includes/footer.html" %}


</body>
</html>
