    {% extends "layout.html" %}
   
    {% block content %}
     <h1><center>{{title}}</center></h1>
            <div style = "position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0px;
    margin-left: 0px;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: -webkit-fill-available;">
             
            <form name="login" action ="" method="post">
                {{ form.csrf_token }}

                {{form.hidden_tag()}}
                <p>{{form.customer_ssn_id.label}}<br>{{form.customer_ssn_id(size=35)}}
                {% for error in form.customer_ssn_id.errors %}
                    <span class = "error-message"> {{ error }} </span>{% endfor %} </p>
                <p>{{form.password.label}}<br>{{form.password(size=35)}}
                {% for error in form.password.errors %}
                    <span class = "error-message"> {{ error }} </span>{% endfor %} </p>
                
                <p>{{form.customer_name.label}} <br>{{form.customer_name(size=60)}} 
                {% for error in form.customer_name.errors %}
                    <span class = "error-message"> {{ error }} </span>{% endfor %}</p>
                <p>{{form.customer_Address.label}}<br> {{form.customer_Address()}} 
                {% for error in form.customer_Address.errors %}
                    <span class = "error-message"> {{ error }} </span>{% endfor %}</p>
                <p>{{form.customer_age.label}} <br>{{form.customer_age(size=10)}} 
                {% for error in form.customer_age.errors %}
                    <span class = "error-message"> {{ error }} </span>{% endfor %}</p>
                <p>{{form.customer_state.label}}<br> {{form.customer_state(size=35)}}
                {% for error in form.customer_state.errors %}
                    <span class = "error-message"> {{ error }} </span>{% endfor %}</p>
                <p>{{form.customer_city.label}}<br> {{form.customer_city(size=35)}}
                {% for error in form.customer_city.errors %}
                    <span class = "error-message"> {{ error }} </span>
                {% endfor %}</p>
                <p>{{form.submit()}}</p></form>
                </div>
                
    {% endblock %}