<body>
{% include "includes/nav.html" %}
<div class = global-parent-div>
<h2 align="center">Update Customer</h2>
<table border="1" align="center" cellpadding=7 style="border-collapse: collapse; text-align: center;">
    <tbody>
        <tr style="font-weight: bold">
            <td>Customer SSN ID</td>
            <td>Old Customer Name</td>
            <td>Old Address</td>
            <td>Age</td>
            <td>Action</td>
        </tr>
        {% for data in user %}
        <tr>
            <td>{{data['customer_ssn_id']}}</td>
            <td>{{data['customer_name']}}</td>
            <td>{{data['customer_Address']}}</td>
            <td>{{data['customer_age']}}</td>
            <td><a href="/editcustomer?customer_ssn_id={{data['customer_ssn_id']}}">Edit</a></td>

        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
</div>
<div style="position: relative;bottom: 0px;width: 100%;">
{% include "includes/footer.html" %}
</div>
</body>
</html>