
.global-parent-div {
    position: relative;
   display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0px;
    margin-left: 0px;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: -webkit-fill-available;
    height: 100vh;
}
