.form-adjust {
	margin-top: 30px;
	padding-top: 10px;
	background-image: linear-gradient(grey,white);
}
form {
	margin-top: 10px;
	margin-left: 380px;
}
.btn-adjust{
	margin-top: 5px;
	margin-left: 250px;
	color:yellow;
	background-color: #000;
}